  <title>@@TITLE@@ &mdash; Jeremy Modjeska</title>
  @@STYLE@@
  @@SCRIPT@@

  <!-- SEO, Social -->
  <link rel="canonical" href="https://modjeska.us/code-@@SLUG@@/">
  <link rel="shortlink" href="https://modjeska.us/code-@@SLUG@@/">
  <meta name="description" content="@@DESCRIPTION@@">
  <meta property="og:description" content="@@DESCRIPTION@@">
  <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="article">
  <meta property="og:title" content="@@TITLE@@ &mdash; Jeremy Modjeska">
  <meta property="og:url" content="https://modjeska.us/code-@@SLUG@@/">
  <meta property="og:site_name" content="Jeremy Modjeska">
  <meta property="og:image" content="https://i.modjeska.us/2018/08/code-card.png">
  <meta property="og:image:width" content="1000">
  <meta property="og:image:height" content="335">
  <meta property="og:image:type" content="image/png">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@jmodjeska">
  @@GTAG@@
</head>

<!-- Content -->
<body>

  @@NAV@@

  <div class="container" role="main">
    <div class="row mt mb">
      <div class="col-lg-8 col-lg-offset-2">
        <article>
          <section class="post-entry">
            <header class="page-header">
              <h1 class="general-title"><a href="https://modjeska.us/@@SLUG@@/" title="Permanent Link to @@TITLE@@">@@TITLE@@</a></h1>
              <div class="post-meta">
                <p><span class="publish-on">@@PUBLISHED_ON@@</span></p>
              </div>
            </header>
            <div class="post-desc">
              <div class="publication-meta">source code</div>
              <div class="github-link">
                <a href="https://github.com/jmodjeska" target="_blank">jmodjeska</a> / <b>
                <a href="@@GITHUB_URL@@" target="_blank">@@GITHUB_URL_NAME@@</a></b>
              </div>

              @@POST_CONTENT@@

            </div><!-- /post -->
          </section>
        </article>
      </div><!-- /col -->
    </div><!-- /row -->
  </div><!-- /container -->
