  <title>@@TITLE@@ &mdash; Jeremy Modjeska</title>
  @@STYLE@@
  @@SCRIPT@@

  <!-- SEO, Social -->
  <link rel="canonical" href="https://modjeska.us/pictures-@@SLUG@@/">
  <link rel="shortlink" href="https://modjeska.us/pictures-@@SLUG@@/">
  <meta name="description" content="@@DESCRIPTION@@">
  <meta property="og:description" content="@@DESCRIPTION@@">
  <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="article">
  <meta property="og:title" content="@@TITLE@@ &mdash; Jeremy Modjeska">
  <meta property="og:url" content="https://modjeska.us/pictures-@@SLUG@@/">
  <meta property="og:site_name" content="Jeremy Modjeska">
  <meta property="og:image" content="https://i.modjeska.us/2018/04/home-5.jpg">
  <meta property="og:image:width" content="1700">
  <meta property="og:image:height" content="778">
  <meta property="og:image:type" content="image/jpeg">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@jmodjeska">
  @@GTAG@@
</head>

<!-- Content -->
<body>

  @@NAV@@

  <div class="clearfix">
    <div class="container" role="main">
      <div class="row mt mb">
        <div class="col-lg-12 mt">
          <section class="post-entry">
            <h1 class="general-title mt">@@TITLE@@</h1>
            <div class="side-by-side">
              <div class="side-left"><p>@@PARAGRAPH_TEXT@@</p></div>
              <div class="side-right">
                <p><a href="https://modjeska.us/code/diy-image-gallery/" title="DIY Image Gallery Code"><i class="fa-solid fa-code-fork" aria-hidden="true"></i></a></p>
              </div>
            </div>
            <div id="pig">
              <img id="gsPreviewImg">
            </div>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.swipebox/1.4.4/css/swipebox.min.css">
            <script src="https://i.modjeska.us/js/jquery.swipebox.min.js"></script>
            <script src="https://i.modjeska.us/js/pig.js"></script>
            <script type="text/javascript">
              var imageData = [
                @@IMAGEDATA_ARRAY@@
              ];
              var pig = new Pig(imageData, {
                urlForSize: function(filename, size) {
                  return 'https://i.modjeska.us/galleries/@@SLUG@@/' + 'img/' + size + '/' + filename;
                },
                addAnchorTag: true,
                anchorTargetDir: "https://i.modjeska.us/galleries/@@SLUG@@/",
                anchorClass: "swipebox"
              }).enable();
              ;( function( $ ) {
                $( '.swipebox' ).swipebox();
              } )( jQuery );
            </script>
          </section>
        </div><!-- /col -->
      </div><!-- /row -->
    </div><!-- /container -->
  </div><!-- /wrapper-->
